<div class="container">
    <h2>Intervals</h2>
    <div class="music">
        <div id="scaleMusic" class="stave"></div>
        <div class="controls">
            <button (click)="play()"><i class="far fa-play-circle"></i></button>
        </div>
    </div>
    <div class="grid">
        <div class="row">
            <div class="label">Key</div>
            <div class="controls">
                <ul class="buttonlist key">
                    <li *ngFor="let item of rootBaseNoteList" [ngClass]="{'selected': item.key === intervalRootBase}" (click)="selectRootBase(item.key)">{{item.value}}</li>
                    <li class="spacer"></li>
                    <li *ngFor="let item of rootAccidentalList" [ngClass]="{'selected': item.key === intervalRootAccidental}" (click)="selectRootAccidental(item.key)">{{item.value}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="label">Interval</div>
            <div class="controls">
                <ul class="buttonlist intervals">
                    <li *ngFor="let item of intervalsList" [ngClass]="{'selected': item.key === interval}" (click)="selectInterval(item.key)">{{item.value}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="label">Group</div>
            <div class="controls">
                <ul class="buttonlist grouping">
                    <li *ngFor="let item of groupingsList" [ngClass]="{'selected': item.key === grouping}" (click)="selectGrouping(item.key)">{{item.value}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="label">Clef</div>
            <div class="controls">
                <ul class="buttonlist clef">
                    <li *ngFor="let item of clefList" [ngClass]="{'selected': item.key === intervalClef}" (click)="selectClef(item.key)">{{item.value}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>