<div class="layout">
  <div class="header">
    <div id="navbarToggle" (click)="toggleNavbar()"><img src="./assets/images/menu.png" /></div>
    <div class="sitename">{{title}}</div>
  </div>
  <div class="main">
    <div id="navbar" class="navbar" style="display:none;">
      <ul>
        <li *ngFor="let item of navRoutes" [ngClass]="{'selected': getRoute() === item.route}"><a routerLink="{{item.route}}">{{item.text}}</a></li>
      </ul>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer">
    Developed by Serge Meunier - <a href="https://www.magnaursa.com">Magna Ursa Consulting</a>. 
  </div>
</div>
