body {
    font-family: 'Open Sans', sans-serif;
    font-size: 125%;
    line-height: 135%;
    margin: 0px;
    background-color:#f2f2f2;
    min-width: 650px;
}

a {
    color: #666;
    text-decoration: none;
}

button {
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    background-color: #eee;
    margin: 0px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    padding: 4px 5px 2px 5px;
    box-shadow: 2px 2px 3px #999;
}
button:focus { 
    outline-color: #333;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
}

.header {
    flex-shrink: 0;
    flex-grow: 0;
    color: #55eaea;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #5353ff;
    width: 100%;
    box-shadow: 0px 3px 4px 0px #555;
}

.header #navbarToggle {
    padding: 20px;
    margin-right: -80px;
    cursor: pointer;
    z-index: 100;
}

.header #navbarToggle img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 3px #333);
}

.header .sitename {
    font-size: 300%;
    line-height: 125%;
    font-family: 'Tangerine', cursive;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    flex-grow: 1;
    color: #ffffff;
    font-weight: 200;
    text-shadow: 2px 2px 2px #555;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 80%;
}
.main {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.navbar {
    flex-shrink: 0;
    flex-grow: 0;
    width: 200px;
    margin-right: -200px;
    display: inline-block;
    z-index: 100;
    background-color: transparent;
}

.navbar ul {
    color: #333;
    list-style: none;
    margin: 20px;

    border-radius: 8px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    border: 1px solid #999;
    text-align: left;
    box-shadow: 2px 2px 3px #999;
}

.navbar li {
    display: block;
    cursor: pointer;
    background-color: #fff;
    margin: 0px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    padding: 2px 5px;
    flex-grow: 1;
}

.navbar ul li.selected {
    background-color: #333399;
    border: 1px solid #333399;
    color: #fff;
}

.navbar li a {
    display: block;
    color: inherit;
}


.content {
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.content .container {
    width: 590px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #999;
}

.content .container h2 {
    width: 100%;
    text-align: center;
}

.content .container h4 {
    width: 100%;
    margin-bottom: 0px;
}


.content .container p {
    margin-top: 0.3em;
}

.content .container.home h3 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.content .container.home ul {
    margin-top: 5px;
    text-align: left;
}

.content .music {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .music .stave {
    flex-grow: 1;
}

.content .music .controls {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 7px;
}

.content ul.buttonlist {
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow:hidden;
    border: 1px solid #999;
    text-align: center;
    box-shadow: 2px 2px 3px #bbb;
}


.content ul.buttonlist li {
    display: block;
    cursor: pointer;
    background: #eee;
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(249,249,249,1) 49%, rgba(238,238,238,1) 100%);
    margin: 0px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    padding: 2px 5px;
    flex-grow: 1;
}

.content ul.buttonlist li.spacer {
    display: block;
    background: #999;
    margin: 0px;
    border: 1px solid #999;
    padding: 0px;
    width: 6px;
    flex-grow: 0;
    cursor: default;
}

.content ul.buttonlist li.selected {
    background: #333399;
    background: linear-gradient(0deg, rgba(51,51,153,1) 0%, rgba(68,68,170,1) 49%, rgba(51,51,153,1) 100%);
    border: 1px solid #333399;
    color: #fff;
}

.content .grid {
    width: 100%;
}
.content .grid .row {
    display:flex;
}

.content .grid .label {
    padding: 5px 5px 5px 0px;
    width: 80px;
    flex-grow: 0;
    flex-shrink: 0;
    vertical-align: center;
    text-align: left;
}

.content .grid .controls {
    margin-bottom: 10px;
    flex-grow: 1;
}

.content .grid .controls.shrink {
    flex-grow: 0;
}




/*------------------------------------------*/
/*Terminology*/
.content .terminology-box {
    width: 520px;
    margin: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.content .terminology-box .title {
    text-align: center;
    font-size: 135%;
    font-weight: bold;
}
.content .terminology-box .row {
    display:flex;
    flex-direction: row;
    width: 100%;
    background: #fdfdfd;
}

.content .terminology-box .odd {
    background: #f8f8f8;
}
.content .terminology-box .row .term {
    padding: 5px;
    width: 140px;
    font-weight: bold;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
}

.content .terminology-box .row .definition {
    padding: 5px;
    text-align: left;
}

/*------------------------------------------*/
/*Piano*/
.piano {
    width: 588px;
    position: relative;
    height: 150px;
    border-top: 1px solid #000;
}

.piano .key {
    position: absolute;
    top: 0px;
    height: 122px;
    width: 28px;
    border: 1px solid #bbb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    color: #000;
    z-index: 0;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0px 3px 2px rgba(32,32,32,0.2);
    box-sizing: border-box;
}

.piano .key.black {
    width: 20px;
    height: 77px;
    background-color: #000;
    border: #222;
    color: #fff;
    z-index: 1;
    font-size: 9px;
}

.piano .key .note-name {
    position: absolute;
    bottom: 0px;
    width: 100%
}

.piano .key .note-key {
    position: absolute;
    color: #999;
    bottom: 20px;
    width: 100%
}

.piano .key.black .note-key {
    color: #bbb;
}

.piano .key:hover {
    background-color: #333399;
    border: #000;
    color: #fff;
}

.piano .key.pressed {
    background-color: #333399;
    border: #000;
    color: #fff;
}