<div class="container home">
    <p>Welcome to the Music Theory Reference Guide.</p>
    <p>This is a collection of music theory tools to help with working out scales, chords and a whole lot more</p>
    <h3>Pages</h3>
    <ul>
        <li><strong><a href="/intervals">Intervals</a></strong> - an interval calculator</li>
        <li><strong><a href="/scales">Scales</a></strong> - calculator for most of the important scales in all keys</li>
        <li><strong><a href="/chords">Chords</a></strong> - calculator for all the main chords with any root note</li>
        <li><strong><a href="/scale-chords">Scale Chords</a></strong> - calculator to show the chords related to a scale in any key, for triads, sevenths and ninth chords</li>
        <li><strong><a href="/circle-of-fifths">Circle of Fifths</a></strong></li>
        <li><strong><a href="/terminology">Terminology</a></strong> - brush up on your Italian ;)</li>
    </ul>
    <h3>Acknowledgements</h3>
    <p>The synth is provided by <a href="https://github.com/keithwhor/audiosynth">audiosynth</a>, written by Keith Horwood.</p>
</div>