<div class="container home">
    <p>Welcome to the Music Theory Reference Guide.</p>
    <p>This is a collection of music theory tools to help with working out scales, chords and a whole lot more</p>
    <h3>Pages</h3>
    <ul>
        <li><strong><a routerLink="/intervals">Intervals</a></strong> - an interval calculator</li>
        <li><strong><a routerLink="/scales">Scales</a></strong> - calculator for most of the important scales in all keys</li>
        <li><strong><a routerLink="/chords">Chords</a></strong> - calculator for all the main chords with any root note</li>
        <li><strong><a routerLink="/scale-chords">Scale Chords</a></strong> - calculator to show the chords related to a scale in any key, for triads, sevenths and ninth chords</li>
        <li><strong><a routerLink="/circle-of-fifths">Circle of Fifths</a></strong></li>
        <li><strong><a routerLink="/terminology">Terminology</a></strong> - brush up on your Italian ;)</li>
        <li><strong><a routerLink="/music-notation">Music Notation</a></strong> - a guide for notation used in sheet music</li>
        <li><strong><a routerLink="/piano">Piano</a></strong> - a 3 octave virtual piano, which can be played by clicking on the keys, or via the keyboard</li>
    </ul>
    <h3>Acknowledgements</h3>
    <p>The synth is provided by <a href="https://github.com/keithwhor/audiosynth">audiosynth</a>, written by Keith Horwood.</p>
</div>